# SPDX-FileCopyrightText: Magenta ApS
# SPDX-License-Identifier: MPL-2.0

# Binary output file
terraform-provider-os2mo

# Example temporary files
examples/.terraform.lock.hcl
examples/.terraform/

# CI temporary files
.cache
