---
# SPDX-FileCopyrightText: Magenta ApS
# SPDX-License-Identifier: MPL-2.0
stages:
  - sync
  - lint
  - build
  - test
  - coverage
  - maintenance
  - release


# Conditions
#############
.if-default-branch-refs: &if-default-branch-refs
  if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

.if-tag: &if-tag
  if: '$CI_COMMIT_TAG'

.if-merge-request: &if-merge-request
  if: '$CI_MERGE_REQUEST_IID'


# Workflow
###########
workflow:
  rules:
    - <<: *if-tag
    - <<: *if-default-branch-refs
    - <<: *if-merge-request


include:
  - project: labs/salt-automation
    file:
      - gitlab-ci-templates/common/no-interrupt.v1.yml
      - gitlab-ci-templates/common/conventional-commits.v1.yml
      - gitlab-ci-templates/common/pre-commit.v1.yml


Build:
  stage: build
  needs: []
  image: golang:1.18
  script:
    - go version
    - go build .
    - go vet .
